# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
coverage/

# Project directories
ios/
android/
linux/
macos/
web/
windows/

# IDE
*.iml
.idea/
.vscode/

# Logs & temp
*.log
*.tmp
*.class
*.pyc

# Gradle (Android)
.gradle/
local.properties

# iOS
Pods/
Podfile.lock
*.xcworkspace
*.xcodeproj/project.xcworkspace
*.xcodeproj/xcshareddata/

# Android
android/app/src/main/res/drawable-*/launch_background.xml
android/app/src/main/res/mipmap-*/ic_launcher.png

# Web
web/icons/
web/manifest.json